!Generate jinja2 script 


edit 0
set name "{{ name }}"
set srcintf "{{ incoming_intf }}"
set dstintf "{{ outgoing_intf }}"
set srcaddr "{{ source }}"
set dstaddr "{{ destination }}"
set action "accept"
set schedule "always"
set service "{{ service }}"
set fsso disable
next

